* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 3.4vw;
  font-family: Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none
}

body {
  height: 100vh;
}
.hide {
  display: none;
}
section>.title span{
  font-size: 4vw;
  border-left: 0.6vw solid #d33a31;
  padding: 0 1.6vw;
}
section>.title {
  padding: 3.6vw 0;
}
.head {
  height: 8.7vh;
  background-color: #d43c33;
  padding: 5.1vw 2.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 3.4vh;
}
.head .downloadApp {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3.85vw;
  font-size: 3.7vw;
  line-height: 7.7vw;
  padding: 0 3vw;
}
header .fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
header ul {
  display: flex;
  text-align: center;
  background-color: #fff;
}
header li {
  list-style: none;
  flex: 1;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header li span {
  font-size: 3.6vw;
  padding: 0 1.2vw;
  line-height: 9.7vw;
  display: inline-block;
  position: relative;
}
header li.clicked span {
  color: #d33a31;
}
header li.clicked span::after{
  content: '';
  background-color: #d33a31;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.48vw;
}
ul#tabs {
  margin-top: 25vw;
}
#musicLists ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 1.8vw;
}
#musicLists ul img {
  width: 100%;
}
#musicLists ul li {
  width: calc(33.333333% - 0.6vw);
  padding-bottom: 3.9vw;
  position: relative;
}
#musicLists li p {
  padding: 0.5vw 0.2vw 0 1.4vw;
  display: -webkit-box;
  height: 8vw;
  line-height: 4vw;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#musicLists .like {
  position: absolute;
  right: 1.5vw;
  top: 0.8vw;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
#musicLists .icon-headset {
  fill: #fff;
  width: 3.5vw;
  height: 3.5vw;
}
#musicLists .like span {
  font-size: 0.8em;
  margin-left: 0.5vw;
}
#lastestMusic .loading, 
.hot-songs .loading{
  text-align: center;
}
#lastestMusic .loading img,
.hot-songs .loading img {
  width: 5vw;
}
#lastestMusic li,
.hot-songs li {
  position: relative;
}
#lastestMusic .icon-play,
.hot-songs .icon-play {
  width: 5.5vw;
  height: 5.5vw;
  fill: #bbb;
  position: absolute;
  right: 2.5vw;
  top: 50%;
  transform: translateY(-50%);
}
#lastestMusic li p,
.hot-songs li p {
  line-height: 1.5em;
}
#lastestMusic li,
.hot-songs li {
  height: 13.3vw;
  border-bottom: 1px solid rgba(194, 194, 194, 0.1);
  margin-left: 2.4vw;
  padding: 1.4vw 0;
}
#lastestMusic li .song-title,
.hot-songs li .song-title {
  color: #000;
  font-size: 4.1vw;
  font-weight: normal;
}
#lastestMusic li .song-details,
.hot-songs li .song-details {
  font-size: 2.9vw;
  color: #888;
  display: flex;
  align-items: center;
}
#lastestMusic .icon-sq,
.hot-songs .icon-sq {
  width: 3vw;
  height: 3vw;
  margin: 1.6vw 1vw 0 0;
}

#ad {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url(https://s3.music.126.net/m/s/img/recommand_bg_3x.png?f3a9aaa781c3bf3b543d129327d35fce) no-repeat center 0;
  background-size: cover;
  padding-top: 17.2vw;
  padding-bottom: 8vw;
}
#ad .logosvg {
  width: 55.6vw;
}
#ad .openApp {
  font-size: 3.9vw;
  line-height: 9.2vw;
  color: #d33a31;
  width: 81.6vw;
  border: 1px solid #d33a31;
  border-radius: 9.2vw; 
  margin: 3.6vw 8.9vw 1.2vw;
  text-align: center;
}
#ad p.copyright {
  font-size: 2.9vw;
  color: #888;
  transform: scale(.75);
}

.hot-songs .hot-song {
  position: relative;
}
.hot-songs .rank-number {
  display: block;
  float: left;
  font-size: 4.1vw;
  color: #999;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.hot-songs .rank-number.rank-top {
  color: #df3436;
}
.hot-songs .song-content {
  margin-left: 7vw;
}
.hot-title {
  height: 39.9vw;
  background: url("./image/hot_music_bg.jpg") no-repeat center;
  background-size: cover;
  padding-top: 8.5vw;
  padding-left: 5vw;
}
.title-date {
  color: #fff;
  font-size: 2.9vw;
  margin-top: 1.5vw;
}
.hot-title img {
  width: 34.3vw;
}
.hot-footer {
  text-align: center;
  padding: 4.8vw;
}
.hot-footer>a {
  color: #999;
}
.icon-right {
  fill: rgb(204, 204, 204);
  width: 3vw;
  height: 3vw;
}