* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}
@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.bg {
  height: 100vh;
  width: 100vw;
  background: url(http://p4.music.126.net/X4c1HN04ywwj7svDYT0DLQ==/109951163071679251.jpg) no-repeat transparent;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: center;
  position: absolute;
  z-index: -1;
  transform: scale(1.5);
  transform-origin: center top;
}
.bg::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.disc-container {
  position: relative;
}
.point {
  width: 26vw;
  position: absolute;
  left: 45vw;
}
.ring {
  width: 82vw;
}
.light {
  width: 82vw;
  position: absolute;
  display: block;
  animation: circle 20s infinite linear;
}
.cover {
  width: 50vw;
  position: absolute;
  border-radius: 50%;
  display: block;
  animation: circle 20s infinite linear;
}
.disc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 19vw;
}

.song-details {
  text-align: center;
}
.song-details .stitle {
  font-size: 18px;
  color: #fefefe;
}
.song-details .stitle span {
  font-size: 16px;
  color: rgba(250, 250, 250, 0.6);
}
.song-details p {
  font-size: 14px;
  color: rgba(250, 250, 250, 0.6);
}

.page>.links {

}