* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

.hide {
  display: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  height: 8vh;
  background-color: #d43c33;
  display: flex;
  align-items: center;
}

header div {
  align-self: flex-start;
  height: 90%;
  width: 100%;
  padding-left: 1vw;
  padding-top: 1vh;
  background-color: #292929;
}

header svg {
  height: 5vh;
}

.page {
  display: flex;
  height: 92vh;
}

.page aside {
  width: 20vw;
  display: flex;
  flex-direction: column;
}

.page main {
  flex-grow: 1;
}

aside {
  -webkit-box-shadow: 4px 4px 18px 1px rgba(158, 158, 158, 0.9);
  -moz-box-shadow: 4px 4px 18px 1px rgba(158, 158, 158, 0.9);
  box-shadow: 4px 4px 18px 1px rgba(158, 158, 158, 0.9);
}

aside .newSong {
  font-size: 18px;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid #888;
  cursor: pointer;
}

aside .newSong.active {
  background-color: #c7c7c7;
}

aside .songListContainer {
  flex-grow: 1;
}

aside .songList li:nth-child(even) {
  background-color: #eeeeef;
}

aside .songList {
  display: flex;
  align-items: center;
  flex-direction: column;
}

aside .songList li {
  width: 100%;
  border-bottom: 1px solid #aaa;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

aside .songList li .icon {
  width: 1.4em;
  height: 1.4em;
  fill: currentColor;
  overflow: hidden;
  display: inline-block;
  margin-right: 8px;
}

aside .songList li.active {
  background-color: #c7c7c7;
}

.uploadArea {
  text-align: center;
  display: flex;
}

#container {
  border-top: 2px solid #888;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  flex-direction: column;
}

aside .pickfiles {
  cursor: pointer;
  padding: 50px 20px;
}

aside .pickfiles p {
  font-size: 14px;
  color: #888;
}

aside .pickfiles p.uploadButton {
  color: #000;
  font-size: 15px;
  margin-bottom: 6px;
}

main {
  display: flex;
  flex-direction: row;
  padding: 40px 20px;
}

main form {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

main h1 {
  font-size: 22px;
}

main form .row label {
  width: 5em;
}

main form .row {
  display: flex;
  margin: 10px;
  align-items: center;
}

main form .row input[type='text'] {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 8px 12px;
  width: 25vw;
}

main form .row input[type='submit'] {
  color: #d43c33;
  margin-left: 5em;
  height: 34px;
  padding-left: 32px;
  padding-right: 32px;
  border: 1px solid #d43c33;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

main form .row textarea {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 8px 12px;
  width: 25vw;
}

main .coverArea {
  min-width: 30vw;
  max-height: 30vw;
  margin-left: 5vw;
}

main .coverArea .cover {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #888;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
}

main .coverArea .cover>span {
  font-size: 20px;
  color: #666;
}

main .coverArea .cover>img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
}